{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- Bootstrap CSS -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
			crossorigin="anonymous"
		/>
		<link
			href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
			rel="stylesheet"
		/>

		<link rel="icon" href="https://raw.githubusercontent.com/nothing3669/Images/main/logo.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="theme-color" content="#000000" />
		<meta name="description" content="Blogs are whatever we make them." />

		<!-- Primary Meta Tags | Google -->
		<meta name="title" content="Rajan's Blog Website" />
		<meta name="description" content="Blogs are whatever we make them." />

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Rajan's Blog Website" />
		<meta property="og:url" content="https://rgautam320-blog.herokuapp.com/" />
		<meta property="og:description" content="Blogs are whatever we make them." />
		<meta
			property="og:image"
			content="https://raw.githubusercontent.com/nothing3669/Images/main/blog_cover.png"
		/>

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:title" content="Rajan's Blog Website" />
		<meta property="twitter:url" content="https://rgautam320-blog.herokuapp.com/" />
		<meta property="twitter:description" content="Blogs are whatever we make them." />
		<meta
			property="twitter:image"
			content="https://raw.githubusercontent.com/nothing3669/Images/main/blog_cover.png"
		/>

		<!-- Linkedin  -->
		<meta property="og:title" content="Rajan's Blog Website" />
		<meta property="og:url" content="https://rgautam320-blog.herokuapp.com/" />
		<meta property="og:description" content="Blogs are whatever we make them." />
		<meta
			property="og:image"
			content="https://raw.githubusercontent.com/nothing3669/Images/main/blog_cover.png"
		/>

		<title>Rajan's Blog Website</title>

		<title>{% block title %}{% endblock %}</title>

		{% block css %}{% endblock %}

		<style>
			* {
				box-sizing: border-box;
			}

			.django-ckeditor-widget {
				width: 100%;
			}

			#cke_id_body {
				width: 100% !important;
			}

			#cke_1_toolbox {
				display: flex;
				justify-content: space-between;
			}

			#cke_1_contents {
				min-height: 200px !important;
			}
		</style>
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid px-5">
				<a class="navbar-brand" href="/">Rajan's Blog</a>
				<button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a
								class="nav-link active"
								aria-current="page"
								href="{% url 'home' %}"
								>Home</a
							>
						</li>

						{% if cat_menu %}
						<li class="nav-item dropdown">
							<a
								class="nav-link dropdown-toggle"
								href="#"
								id="navbarDropdown"
								role="button"
								data-bs-toggle="dropdown"
								aria-expanded="false"
							>
								Categories
							</a>
							<ul
								class="dropdown-menu"
								aria-labelledby="navbarDropdown"
							>
								{% for category in cat_menu %}

								<li>
									<!-- <a class="dropdown-item" href="{% url 'category' category|slugify %}">{{category}} -->
									<a
										class="dropdown-item"
										href="{% url 'category' category %}"
										>{{category}}
									</a>
								</li>

								{% endfor %}
							</ul>
						</li>
						{% endif %} {% if user.is_authenticated %} {% if user.profile.id %}
						<li class="nav-item">
							<a class="nav-link" href="{% url 'addblogpost' %}"
								>Add Blog</a
							>
						</li>
						{% endif %} {% if user.id == 1 %}
						<li class="nav-item">
							<a class="nav-link" href="{% url 'addcategory' %}"
								>Add Category</a
							>
						</li>
						{% endif %} {% endif %}
					</ul>

					{% if user.is_authenticated %}

					<ul class="navbar-nav mb-2 mb-lg-0" style="color: black">
						<li class="nav-item dropdown">
							<a
								class="nav-link dropdown-toggle"
								href="#"
								id="navbarDropdown"
								role="button"
								data-bs-toggle="dropdown"
								aria-expanded="false"
							>
								<span>{{user.first_name}}</span> Profile
							</a>
							<ul
								class="dropdown-menu"
								aria-labelledby="navbarDropdown"
							>
								<li>
									<a
										href="{% url 'edit_profile' %}"
										class="dropdown-item"
										>Settings</a
									>
								</li>

								{% if user.profile.id %}
								<li>
									<a
										href="{% url 'edit_profile_page' user.profile.id %}"
										class="dropdown-item"
										>Edit Profile</a
									>
								</li>
								<li>
									<a
										href="{% url 'profile_page' user.profile.id %}"
										class="dropdown-item"
										><span>Show Profile </span>
									</a>
								</li>
								{% else %}
								<li>
									<a
										href="{% url 'create_profile_page' %}"
										class="dropdown-item"
										>Create Profile</a
									>
								</li>
								{% endif %}
								<li>
									<a
										class="dropdown-item"
										href="{% url 'logout' %}"
										>Logout</a
									>
								</li>
							</ul>
						</li>
					</ul>
					{% else %}
					<ul class="navbar-nav mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link" href="{% url 'register' %}"
								>Register</a
							>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'login' %}">Login</a>
						</li>
					</ul>
					{% endif %}
				</div>
			</div>
		</nav>
		<div class="container my-5">{% block content %} {% endblock %}</div>

		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
			crossorigin="anonymous"
		></script>
	</body>
</html>
